<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <button @click="changeShallowReactiveProperty">
        changeShallowReactiveProperty
      </button>
      <ul style="color: blue">
        <li v-for="item in shallowReactiveObj">{{ item.obj.depth }}</li>
      </ul>
    </div>
    <div id="app2">
      <button @click="changeReactiveProperty">changeReactiveProperty</button>
      <ul style="color: red">
        <li v-for="item in reactiveObj">{{ item.obj.depth }}</li>
      </ul>
    </div>
    <script>
      const { createApp, reactive, shallowReactive } = Vue
      const n = 10
      const obj = Array(n)
        .fill()
        .map((_, i) => ({
          id: i,
          depth: `${i}-1`, // ← 这是第1层嵌套对象
          obj: {
            depth: `${i}-2`, // ← 这是第2层嵌套对象
            obj: {
              depth: `${i}-3`, // ← 这是第3层嵌套对象
              obj: {
                depth: `${i}-4`, // ← 这是第4层嵌套对象
              },
            },
          },
        }))
      const shallowReactiveObj = shallowReactive(obj)
      const changeShallowReactiveProperty = () => {
        // shallowReactiveObj[0].obj.depth += '!' // 这样无法进行视图更新

        const item = shallowReactiveObj[0]
        shallowReactiveObj[0] = {
          ...item,
          obj: {
            ...item.obj,
            depth: item.obj.depth + '!',
          },
        }
      }
      createApp({
        setup() {
          return {
            changeShallowReactiveProperty,
            shallowReactiveObj,
          }
        },
      }).mount('#app')

      const obj2 = Array(n)
        .fill()
        .map((_, i) => ({
          id: i,
          depth: `${i}-1`, // ← 这是第1层嵌套对象
          obj: {
            depth: `${i}-2`, // ← 这是第2层嵌套对象
            obj: {
              depth: `${i}-3`, // ← 这是第3层嵌套对象
              obj: {
                depth: `${i}-4`, // ← 这是第4层嵌套对象
              },
            },
          },
        }))
      const reactiveObj = reactive(obj2)
      const changeReactiveProperty = () => {
        reactiveObj[0].obj.depth += '!'
      }
      createApp({
        setup() {
          return {
            changeReactiveProperty,
            reactiveObj,
          }
        },
      }).mount('#app2')
    </script>
  </body>
</html>
